@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* fonts */
.josefin-sans-regular {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.oswald-regular {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* colors */
$colors: (
    stroke: #999,
);

/* breakpoints */
$breakpoints: (
    'sm': 'screen and (min-width: 576px)',
    'md': 'screen and (min-width: 768px)',
    'lg': 'screen and (min-width: 992px)',
    'xl': 'screen and (min-width: 1200px)',
) !default;
@mixin media($breakpoint) {
    @media #{map.get($breakpoints, $breakpoint)} {
        @content;
    }
}

/* cube */
$cube-size: 20px;
$cubes: (
    "green": #13872d,
    "blue": #0341df,
    "red": #e20017,
    "orange": #fc7109,
    "yellow": #fefa0a,
    "white": #f2ece3,
);

@each $key, $item in $cubes {
    .cube-#{$key} {
        background-color: $item;
    }
}

@each $key, $item in $cubes {
    .text-cube-#{$key} {
        color: $item;
    }
}

#cubeview {
    margin: 0 auto;
    position: relative;
    display: block;
    width: calc($cube-size * 12);
    height: calc($cube-size * 9);
    z-index: 0;
    @include media(sm) {
        width: calc($cube-size * 12);
        height: calc($cube-size * 9);
    }

    .surface {
        position: absolute;
        width: calc($cube-size * 3);
        height: calc($cube-size * 3);
        @include media(sm) {
            width: calc($cube-size * 3);
            height: calc($cube-size * 3);
        }

        &.up {
            top: 0;
            left: calc($cube-size * 3);
        }

        &.down {
            top: calc($cube-size * 6);
            left: calc($cube-size * 3);
        }

        &.back {
            top: calc($cube-size * 3);
            left: calc($cube-size * 9);
        }

        &.front {
            top: calc($cube-size * 3);
            left: calc($cube-size * 3);
        }

        &.left {
            top: calc($cube-size * 3);
            left: 0;
        }

        &.right {
            top: calc($cube-size * 3);
            left: calc($cube-size * 6);
        }

        .wrapper {
            width: 100%;
            height: 100%;

            .cube {
                position: absolute;
                width: calc($cube-size - 2px);
                height: calc($cube-size - 2px);
                border: 1px solid #000;

                &.cube-1 {
                    top: 0;
                    left: 0;
                }

                &.cube-2 {
                    top: 0;
                    left: calc($cube-size * 1);
                }

                &.cube-3 {
                    top: 0;
                    left: calc($cube-size * 2);
                }

                &.cube-4 {
                    top: calc($cube-size * 1);
                    left: 0;
                }

                &.cube-5 {
                    top: calc($cube-size * 1);
                    left: calc($cube-size * 1);
                }

                &.cube-6 {
                    top: calc($cube-size * 1);
                    left: calc($cube-size * 2);
                }

                &.cube-7 {
                    top: calc($cube-size * 2);
                    left: 0;
                }

                &.cube-8 {
                    top: calc($cube-size * 2);
                    left: calc($cube-size * 1);
                }

                &.cube-9 {
                    top: calc($cube-size * 2);
                    left: calc($cube-size * 2);
                }
            }
        }
    }

}

#timer {
    &.wait {
        color: map.get($cubes, "red");
    }

    &.ready {
        color: map.get($cubes, "green");
    }
}

/* fonts */
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.kablammo-regular {
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "MORF" 0;
}

.text-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: map.get($colors, stroke);
}
