* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #A3B18A;
}

main {
    flex-grow: 1;
    background-color: #D5C0A8;
}

footer{
    background-color: #F2D7D5;
}
